@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/Minecrafter-MA3Dw.ttf') format('truetype');
}

@font-face {
    font-family: 'Minecraft1';
    src: url('../fonts/MinecraftTen-VGORe.ttf') format('truetype');
}

@font-face {
    font-family: 'Minecraft2';
    src: url('../fonts/Minecraftchmc-dBlX.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

    --font-color: #c9c9c9;
    --header-height: 13rem;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 400%;
    animation: gradientShift 25s ease infinite;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.container {
    animation: slideDown 2s ease forwards;
}

#mainContainer .container {
    display: none;
}

#mainContainer .selected {
    display: unset;
}

#mainContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    /* Agora cobre a altura total da tela */
    background: rgba(0, 0, 0, 0.85);
    z-index: 1;
    /* Certifica-se de que fique atrás de outros conteúdos */
}

header {
    position: fixed;
    max-width: 100%;
    width: 100%;
    top: 0;
    height: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-image: url("../imgs/dirt_background2.jpg");
    background-size: contain;
    padding: 1.5rem;
    box-shadow: 0 .25rem .25rem 0 rgba(0, 0, 0, .7);
    z-index: 2;
}

.titleHeader {
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-family: 'Minecraft1', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;
}

nav a img {
    width: 2rem;
    height: auto;
}

nav li {
    display: flex;
    min-width: 25%;
    align-items: center;
    justify-content: center;
}

.button {
    transition: all ease 1s;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    height: 5rem;
    padding: 1.25rem;
    text-align: center;
    border-radius: 50rem;
    box-shadow: 0 .25rem .25rem 0 rgba(0, 0, 0, 0.5);
    text-shadow: .15rem .15rem .18rem rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
}

.button img {
    width: 2.5rem;
    height: auto;
}

.button:hover {
    transition: all ease .5s;
    border-radius: 1.5rem 1.5rem 0 0;
    background: rgb(0, 128, 0, .15);
    border-bottom: solid green .15rem;
}

.button:hover img {
    position: relative;
    animation: hoverAnimation .25s ease forwards;
}

h1,
h2 {
    text-shadow: .15rem .15rem .18rem rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

a,
p {
    font-size: 1.25rem;
}

h1,
h2,
a,
p {
    color: var(--font-color);
}

main {
    display: flex;
    min-height: 100vh;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    box-shadow: 0 .25rem .25rem 0 rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.mainIp {
    margin-top: var(--header-height);
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    box-shadow: 0 .25rem .25rem 0 rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.mainIp h2,
#buttonIp p {
    font-family: 'Minecraft', sans-serif;
    font-weight: normal;
    text-align: center;
}

.mainIp h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    max-width: 60rem;
}

.mainIp h2 span {
    color: red;
    font-size: .8rem;
    background-color: rgb(63, 0, 0);
    padding: .25rem;
    max-width: 20rem;
    margin: 0;
}

.mainIp h2 .spanBold {
    font-weight: bold;
    background: none;
    font-size: .85rem;
}

#buttonIp {
    color: var(--font-color);
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background: rgb(255, 255, 255, .25);
    border-radius: 1rem;
    width: fit-content;
    padding: 1rem;
    gap: .5rem;
    transition: all .5s ease;
}

#buttonIp:hover {
    background: rgb(255, 255, 255, .35);
    transition: all .5s ease;
}

#buttonIp img {
    position: relative;
    width: 1.5rem;
    height: auto;
    animation: fadeIn 2s ease infinite;
}

.containerBannner {
    width: 25rem;
    height: auto;
}

.containerBannner img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    box-shadow: 0 .25rem .25rem 0 rgba(0, 0, 0, 0.5);
}

.contentPlayers {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.containerPlayers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    width: 60%;
}

.playerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 2rem;
    border-radius: .5rem;
}

.playerCard p,
.playerCard h2 {
    font-family: "Minecraft2";
}

.playerCard h2 {
    font-weight: bold;
    font-size: 2.5rem;
}

.loading {
    color: var(--font-color);
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
}

.containerFooter {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.containerFooter img {
    width: 2rem;
    height: auto;
}

.containerFooter p {
    text-align: center;
    letter-spacing: .15rem;
    font-family: 'Minecraft', sans-serif;
    padding: .25rem;
    border-bottom: dashed green .2rem;
}

.containerFooter ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: .5rem;
}

.selectedButton {
    position: relative;
    cursor: not-allowed;
    transition: all ease .5s;
    border-radius: 1.5rem 1.5rem 0 0;
    background: rgb(0, 128, 0, .15);
    border-bottom: solid green .15rem;
}

.containerFooter article {
    color: var(--font-color);
    text-align: justify;
    letter-spacing: .05rem;
    line-height: 1.05rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 2rem;
    background: rgb(37, 37, 37);
    gap: 2rem;
}

footer .button {
    width: fit-content;
}

.containerShop {
    margin: 3.5rem 0 3.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.25);
}

#categorySelectedText {
    padding: 2rem;
    background: rgba(255, 255, 255, 0.35);
    border-bottom: solid green .25rem;
}

a>* {
    pointer-events: none;
}

footer span {
    color: var(--font-color);
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 1rem;
    border-radius: 0 1rem 0 1rem;
}

#ulCategoryShop {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    padding: 1rem;
    width: fit-content;
    height: 100vh;
}

.buttonShop {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: start;
    width: fit-content;
    transition: all 1s ease;
}

.textCategoryShop {
    font-family: "Minecraft2";
    font-size: 2.5rem;
    width: 100%;
    display: none;
}

#ulCategoryShop li {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

#ulCategoryShop img {
    width: 2rem;
    height: auto;
}

.buttonShop:hover .textCategoryShop {
    display: unset;
    transition: all .5s ease;
}

.containerShop_cards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;
}

.containerCards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    min-height: 50rem;
    background: rgba(0, 0, 0, .5);
    padding: 2rem;
}

.priceCard {
    font-size: 2.5rem;
    font-family: "Minecraft2";
}

.arrow {
    height: 5.5rem;
    width: auto;
    background: rgb(255, 255, 255, .15);
    border-radius: 50%;
    padding: 1rem;
    transition: all .5s ease;
}

.arrow:hover {
    background: rgb(255, 255, 255, .25);
    border-radius: 25%;
    transition: all .25s ease;
}

.arrow img {
    width: 100%;
    height: 100%;
}

#containerItemViewers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 100%;
    gap: 2rem;
}

.containerViewer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .25rem;
    width: 25rem;
    height: 28rem;
    background: rgb(33, 73, 0);
    transition: all .5s ease;
    animation: slideDown .85s ease forwards;
}

.containerViewer:hover {
    background: rgb(21, 46, 0);
    transition: all .5s ease;
    z-index: 1;
}

.descriptionCard {
    position: relative;
    min-width: 150%;
    width: fit-content;
    display: none;
    color: var(--font-color);
    margin: 1rem;
    background: rgb(33, 73, 0);
    transition: all .5s ease;
    padding: 1rem;
    line-height: 2rem;
    font-family: "Minecraft2";
    font-size: 1.8rem;
    letter-spacing: .1rem;
    text-align: left;
    animation: slideUp .5s ease forwards;
    z-index: 1;
}

.itemCard {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: rgba(0, 0, 0, 0.15);
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.imgCard {
    margin: .5rem;
    border-radius: 0 2.5rem 0 2.5rem;
    width: 50%;
    height: auto;
}

.imgInfoCard {
    position: relative;
    width: 3.5rem;
    height: auto;
    bottom: 22.5rem;
    left: 9.5rem;
    margin: 0;
    animation: slideUp 3.5s ease infinite;
    background: rgb(0, 0, 0, .25);
    border-radius: 25%;
    padding: .5rem;
}

.buttonBuy {
    background: rgb(0, 0, 0, .35);
    margin: .5rem;
    width: 90%;
}

#titleCard {
    background-color: rgb(0, 0, 0, .25);
    padding: .25rem;
}

#menuShopShowing {
    align-self: self-start;
    padding: 1rem;
    background-color: rgb(5, 114, 114);
}

.menuShowing {
    width: 100%;
    animation: widthRight .8s ease forwards;
    transition: all .5s ease forwards;
}

.hidden {
    display: none;
}

.subcategorysShop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: rgba(45, 94, 0, 0.6);
    padding: 2rem;
}

#containerMenuBuy,
#containerTerms {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    backdrop-filter: blur(.2rem);
}

.containerSobreposition {
    border-radius: 1rem;
    background-color: var(--font-color);
    width: 60%;
    height: 100vh;
    animation: slideDown 1s ease forwards;
}

.containerSobreposition h1 {
    font-family: "Minecraft1";
    margin: 0 auto;
    color: #575757;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
}

.containerImgClose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: dashed #575757 .25rem;
}

.closeMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 1rem;
    padding: .75rem;
    background: rgb(0, 0, 0, .1);
    transition: all .5s ease;
}

.closeMenu:hover {
    background: rgb(0, 0, 0, .25);
    transition: all .5s ease;
}

.closeMenu img {
    width: 1.5rem;
    height: auto;
}

#formBuy {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 25rem;
    min-height: 30rem;
    height: fit-content;
    padding: .5rem;
    background: rgb(0, 0, 0, .1);
    border-radius: .5rem;
    gap: .5rem;
}

.inputMenuBuy,
#confirmBuy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    width: 60%;
    background-color: rgb(0, 128, 0, .5);
}

#confirmBuy {
    border-radius: .25rem;
    padding: 1rem;
    font-family: "Minecraft2";
    text-transform: uppercase;
    align-items: center;
    font-size: 2rem;
    outline: none;
    border: none;
    background: rgb(0, 177, 0);
    text-shadow: .15rem .15rem .18rem rgba(0, 0, 0, 0.8);
    color: var(--font-color);
    transition: all .5s ease;
}

#confirmBuy:hover {
    background: rgb(0, 121, 0);
    transition: all .5s ease;
}

.inputMenuBuy input {
    width: 100%;
    height: 3.5rem;
    font-family: "Minecraft2";
    font-size: 1.5rem;
    padding: .25rem;
    border: none;
    background: var(--font-color);
    transition: all .5s ease;
}

.inputMenuBuy input:focus {
    outline: none;
    border: none;
    border-left: green solid .3rem;
    transition: all .5s ease;
}

.observationMenuBuy {
    font-family: "Roboto";
    background: linear-gradient(135deg, #ffffff, #e3f2fd);
    border: 1px solid #bbdefb;
    border-radius: 8px;
    padding: 16px 24px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #333;
    text-align: justify;
    line-height: 1.25rem;
}

.observationMenuBuy a {
    color: #1976d2;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
}

.observationMenuBuy a:hover {
    text-decoration: underline;
}

.observationMenuBuy span {
    background-color: #d8d8d8;
    color: #0d47a1;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 4px;
    font-family: monospace;
}

.observationMenuBuy strong {
    font-weight: bold;
    color: #0d47a1;
}

.product-info {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
}

.product-info h2 {
    font-size: 24px;
    margin: 0 0 8px;
    color: #333;
}

.product-info p {
    font-size: 18px;
    margin: 4px 0;
    color: #666;
}

.product-info .price {
    font-size: 20px;
    font-weight: bold;
    color: #0d47a1;
    margin-top: 12px;
}

.product-info .price span {
    font-size: 2.5rem;
    font-family: "Minecraft2";
}

#quantity {
    text-align: center;
}

.product-info .product-name {
    font-weight: bold;
    font-family: "Minecraft2";
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #333;
}

.product-info img {
    width: 8rem;
    height: auto;
    padding: 1rem;
    border-radius: 0 1.25rem 0 1.25rem;
    background: rgb(0, 0, 0, .25);
}

.containerProductInfoBuy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    margin-top: 3rem;
    width: 100%;
}

.inputMenuBuy label {
    display: flex;
    color: var(--font-color);
    gap: .05rem;
    padding: .5rem;
    font-family: "Minecraft2";
    text-transform: uppercase;
    font-size: 2rem;
    transition: all .5s ease;
}

.inputMenuBuy span {
    font-family: "Minecraft2";
    color: rgb(179, 0, 0);
    font-size: 1.5rem;
}

< !DOCTYPE html><html lang="pt-BR"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Pagamento via Pix</title><style>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
}

.payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 400px;
}

.payment-container h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.qrcode {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrcode img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.pix-key {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
    word-break: break-word;
    background: #f9f9f9;
    padding: 10px;
    border: 1px dashed #ccc;
    border-radius: 8px;
    text-align: center;
}

.copy-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 0.9rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.copy-button:hover {
    background-color: #0056b3;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes widthRight {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        /* Fora da tela (para cima) */
        opacity: 0;
        /* Invisível no início */
    }

    100% {
        transform: translateY(0);
        /* Posição original */
        opacity: 1;
        /* Visível */
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@keyframes hoverAnimation {
    0% {
        bottom: 0;
        letter-spacing: normal;
    }

    50% {
        bottom: .25rem;
        /* Ajuste o valor conforme necessário */
        letter-spacing: .05rem;
    }

    100% {
        bottom: 0;
        letter-spacing: .1rem;
    }
}

@media (max-width: 768px) {

    nav ul {
        gap: .5rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    a,
    p {
        font-size: .6rem;
    }

    .containerBannner {
        width: 100%;
        height: auto;
    }

    main {
        flex-direction: column;
    }

    main h2 p {
        font-size: .75rem;
    }

    .playerCard p {
        font-size: 1rem;
    }

    .containerPlayers {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: .75rem;
    }

    .containerFooter {
        flex-direction: column;
    }

    .containerFooter ul {
        width: 100%;
    }

    #ulCategoryShop {
        padding: .25rem;
        gap: .25rem;
    }

    #ulCategoryShop img {
        width: 1rem;
        height: auto;
    }

    .textCategoryShop {
        font-size: 1.5rem;
    }
}